.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.file-upload {
  margin-bottom: 1rem;
}

.success {
  color: var(--primary-color);
  margin-top: 1rem;
}

.error {
  color: var(--error-text);
  margin-top: 1rem;
}
